.footer {
    background-color:  #1a2028;
    padding: 70px 0;
    margin-top: 150px;
    text-align: center; 
  }
  
  .container {
    max-width: 1170px;
    margin: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute columns evenly */
  }
  
  .footer-col {
    flex: 1; /* Equal width for all columns */
    padding: 0 15px;
    text-align: center; /* Center content horizontally */
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  
  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    background-color: #b5e8a4;
    height: 2px;
    width: 50px;
  }

  .footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Center the list items */
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media (max-width: 767px) {
    .footer-col {
      flex-basis: 50%; /* Equal width for all columns on smaller screens */
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 574px) {
    .footer-col {
      flex-basis: 100%; /* Full width for all columns on even smaller screens */
    }
  }
  