/* navBar.css */

nav {
    background-color: #fff;
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    color: #324f4d;
    text-decoration: none;
  }
  